<div class="content-container">
  <h3 style="text-decoration: underline;">
    REGULATIONS OF THE NUTRISTORE.PL ONLINE STORE
  </h3>
  <h3>
    1. GENERAL PROVISIONS
  </h3>
  <p>
    <span class="color-primary">1.1.</span> These Regulations define the scope and conditions for the provision of services
    by the NUTRISTORE online store at <a class="myscleman-contact-link" routerLink="">www.nutristore.com</a> .
  </p>
  <p>
    <span class="color-primary">1.2.</span>  The person placing the order, hereinafter referred to as the Customer, may only be a
    legal person or an adult natural person with full legal capacity.
  </p>
  <p>
    <span class="color-primary">1.3.</span> By placing an order, the Customer, using the mechanisms available on the
    website of the store, submits an offer to buy a specific product on the terms
    specified in the product description, obtaining a unique order number - and concludes
    a distance purchase and sale agreement and agrees to the processing of his personal
    data by Nutristore.com
  </p>
  <p>
    <span class="color-primary">1.4.</span> Personal data placed in the Nutristore.com database are processed only for the needs
    of Nutristore.com and are not made available to other entities not related to the order
    fulfillment process (e.g. the company handling the order, courier companies,
    Poczta Polska, etc.). The customer may request Nutristore.com to supplement, update,
    rectify personal data, temporarily or permanently suspend their processing or
    delete them by reporting to the contact address of the owner visible at the
    bottom of the page. Nutristore.com has the right to delete / stop processing data
    without informing the customer.
  </p>
  <h3>
    2. ORDERS
  </h3>
  <p>
    <span class="color-primary">2.5.</span> Nutristore.com reserves the right to refuse to execute orders that raise doubts,
    in particular when the history of cooperation undermines the credibility and
    reliability of the customer.
  </p>
  <p>
    <span class="color-primary">2.6.</span> The buyer is obliged to provide a landline or mobile phone number and e-mail
    address, under which it will be possible to confirm the order and contact regarding
    the order. Orders with incorrectly completed forms will not be processed.
  </p>
  <p>
    <span class="color-primary">2.7.</span> Orders can be placed 24 hours a day all year round - via the website www.nutristore.com,
    by e-mail or by phone.
  </p>
  <p>
    <span class="color-primary">2.8.</span> The received product may differ in appearance from the product in the photo.
    This is due to the frequent changes in patterns and types of packaging.
    In the case of giveaways to main products, we reserve the right to exchange
    for a similar or slightly different gratuitous product of similar value.
    Freebies are not covered by the purchase and sale contract and cannot be
    the subject of a complaint.
  </p>
  <p>
    <span class="color-primary">2.9.</span> The customer can choose the taste of the conditioner / product only by providing such
    information in the comment. Nutristore.com reserves that in the absence of goods with a specific
    taste, the order will be fulfilled with a different taste or canceled in accordance with the
    customer's request (if the customer provides such information in the comment to the order).
  </p>
  <h3>
    3. TRANSPORT, PAYMENTS AND COMPLETION DATES
  </h3>
  <p>
    <span class="color-primary">3.1.</span> The ordered goods are delivered to the address indicated in the order form via Poczta
    Polska (priority parcel) or a courier company, and in the case of foreign
    shipments - by Poczta Polska (registered priority).
  </p>
  <p>
    <span class="color-primary">3.2.</span> The order fulfillment time is from 2 hours to 10 business days. If the
    execution time turns out to be longer than the one specified on our website, we
    contact the customer to inform about the delay and confirm that the order will be
    processed further.
  </p>
  <p>
    <span class="color-primary">3.3.</span> In the case of payment by bank transfer, the above deadline is additionally
    extended by the time of the transfer, and in the case of card payments, by the time
    of payment authorization by an external payment system.
  </p>
  <p>
    <span class="color-primary">3.4.</span> Nutristore.com is not directly responsible for delays in delivery caused by the failure
    by courier companies to comply with the transport and postal service contracts.
    However, we try to intervene in such situations so that the customer receives the
    package as soon as possible.
  </p>
  <p>
    <span class="color-primary">3.5.</span> All information about the status of the contract
    is provided by e-mail at contact&#64;nutristore.com.
  </p>
  <p>
    <span class="color-primary">3.6.</span> The following forms of payment are possible to be chosen by the Customer:
  </p>
  <p class="pl-[20px] sm:pl-[30px]">
    a) On delivery - payment in cash to the courier, postman or at the post
    office upon receipt of the goods or at the cash desk of the personal collection
    point. Nutristore.com reserves the right to additional telephone verification
    of this type of orders in certain situations.
  </p>
  <p class="pl-[20px] sm:pl-[30px]">
    b) By bank transfer - after booking the ordered goods, an e-mail with the bank
    account number is sent. As soon as the payment is credited to our bank account,
    the order is transferred to the warehouse to be prepared for shipment.
  </p>
  <p class="pl-[20px] sm:pl-[30px]">
    c) Electronic payments. For security reasons, each electronic payment transaction
    is verified by the operator, the verification date does not depend on the store.
    The order is processed immediately after the payment is confirmed.
  </p>
  <p>
    <span class="color-primary">3.7.</span> The ordering party covers the shipping cost. The shipping cost is calculated
    by the system automatically for each order based on the products added to the cart
    and displayed to the customer before placing it.
  </p>
  <p>
    <span class="color-primary">3.8.</span> Choosing cash on delivery as a form of delivery with billing means that the
    customer is aware of the preparation of an amount equal to the value of the order
    shown in the confirmation. The customer is obliged to prepare the exact amount to be paid.
  </p>
  <h3>
    4. COMPLAINTS AND RETURNS
  </h3>
  <p>
    <span class="color-primary">4.1.</span> Pursuant to the Act of March 2, 2000 on the protection of certain consumer
    rights and liability for damage caused by a dangerous product
    (Journal of Laws No. 22, item 271), Art. 2 point 2, within ten days
    of receiving the goods ordered by mail order, the consumer has the right
    to return it as part of withdrawal from the contract, in accordance with
    the rules resulting from the provisions on concluding distance contracts.
    The law indicated in this point applies to consumer sales, so it applies only
    to sales to a natural person who makes a purchase for purposes not related to
    professional or business activity. Goods returned in this mode will be accepted
    only if they are sent back in their original, undamaged packaging, with all its
    contents, and the product itself does not bear any traces of use (i.e. has not been
    opened, tried on, or damaged). If you wish to exercise the right to withdraw from the
    contract, the returned goods should be sent back at your own expense, after informing
    the Store in advance. The return shipment must be accompanied by a written declaration
    of withdrawal from the contract. The Nutristore.com store does not refund the costs of
    delivery and return of the ordered products. We do not accept "cash on delivery" shipments.
  </p>
  <p>
    <span class="color-primary">4.2.</span> When choosing the "cash on delivery" payment option, if the package has been
    sent (the status has been changed to "shipped"), in the event of resignation,
    the customer is obliged to cover the double value of shipping costs to the Nutristore.com
    Store account (shipping + return) within 7 days of receiving the return under the pain
    of initiating recovery proceedings. In the case of returning paid parcels (e.g. when the
    courier did not find the customer several times), Nutristore.com offers the possibility of
    re-sending the parcel after covering the shipping costs.
  </p>
  <p>
    <span class="color-primary">4.3.</span> You should ALWAYS check the contents of the package at the courier,
    even if the package does not look damaged. Complaints about mechanical damage
    caused during transport and the lack of goods will be considered faster and
    more efficiently in the situation of receipt / inspection of the goods in the
    presence of the courier. The courier is obliged to write a report in the event
    of irregularities or damage by the customer.
  </p>
  <p>
    <span class="color-primary">4.4.</span> In the event of non-compliance of the goods with the contract within the
    meaning of the Act of 27 July 2002 on special conditions of consumer sales and
    amending the Civil Code, Journal Of Laws No. 141, item 1176 as amended d.), in any
    case when the data (product description and data) presented on the website of
    the store on the day of placing the order by the consumer would not coincide with the
    reality, the customer has the right to withdraw from the contract within 10 days
    from the date of purchase, in accordance with provisions on withdrawal from a distance
    contract. The goods under complaint, together with a letter specifying the type of
    non-compliance and the expectations regarding the manner of fulfilling our obligations,
    should be sent to the operator of the Nutristore.com Store.
  </p>
  <p>
    <span class="color-primary">4.5.</span> In case of a mistake on our part, it is possible to replace the product.
    The product cannot be unsealed. The parcel should be sent by Poczta Polska
    (only and exclusively) within its scope to the sender's address (please contact us in
    advance before shipping).
  </p>
  <h3>
    5. OTHER REGULATIONS
  </h3>
  <p>
    <span class="color-primary">5.1.</span> The Nutristore.com team makes every effort to ensure that the descriptions of
    the products placed in the store are consistent with reality. However, we are not
    responsible for incorrect specification of parameters and properties of the goods,
    or their sudden change by the manufacturer.
  </p>
  <p>
    <span class="color-primary">5.2.</span> The prices shown on the website are retail prices.
  </p>
  <p>
    <span class="color-primary">5.3.</span> Nutristore.com is not responsible for differences in legal regulations in individual
    EU countries and other countries to which the customer orders products. Please check
    whether the products offered in a given country are not prohibited or their circulation
    is not regulated (especially in Norway and Ireland). Nutristore.com does not cover customs
    duties related to the shipment of products outside the customs territory of the EU.
  </p>
  <p>
    <span class="color-primary">5.4.</span> It is forbidden to copy, materials, photos from our websites. Nutristore.com informs
    that pursuant to Art. 115 of the Act of February 4, 1994 on copyright and related
    rights, any person who appropriates the authorship or mislead as to the authorship of
    all or part of someone else's work or artistic performance, shall be subject to the
    penalty of deprivation of liberty for up to 2 years, restriction of liberty or a fine.
  </p>
  <p>
    <span class="color-primary">5.5.</span> The Regulations define the rules of shopping at the Nutristore.com store. By
    submitting and confirming the order, you agree to all the provisions and information
    contained in the regulations.
  </p>
  <div class="flex justify-end mx-[24px]">
    <a mat-raised-button routerLink="/" color="primary">Go to home page</a>
  </div>
</div>
