<div class="w-full mx-auto max-w-[650px] text-[12px] sm:text-[16px]">
  <div class="flex mb-[16px]">
    <img src="assets/images/payment_methods.png" style="width: 70px; height: 63px;" alt="payment_methods">
    <div>
      <h3 class="text-[18px] sm:text-[22px] color-accent font-bold">
        How much will I pay for shipping my order?
      </h3>
      <p>
        Everything about shipping costs.
      </p>
    </div>
  </div>
  <p>
    We offer the following forms of delivery:
  </p>
  <ol class="list-decimal pl-[16px]">
    <li class="m-[16px]">Shipment of the order in Poland:</li>
    <ul class="pl-[16px] list-disc">
      <li class="my-[8px]">
        <img src="assets/images/kurier_dpd.png" alt="kurier_dpd">
        <span class="color-accent">DPD courier</span> - paid in advance - PLN 0 (delivery in 24 hours)
      </li>
      <li class="my-[8px]">
        <img src="assets/images/kurier_dpd.png" alt="kurier_dpd">
        <span class="color-accent">DPD courier</span> - payable on delivery - PLN 15 (delivery in 24 hours)
      </li>
      <li class="my-[8px]">
        <img src="assets/images/kurier_inpost.png" alt="kurier_inpost">
        <span class="color-accent">InPost courier</span> - paid in advance - PLN 0 (delivery in 24 - 48 hours)
      </li>
      <li class="my-[8px]">
        <img src="assets/images/kurier_inpost.png" alt="kurier_inpost">
        <span class="color-accent">InPost courier</span> - payable on delivery - PLN 15 (delivery in 24 - 48 hours)
      </li>
      <li class="my-[8px]">
        <img src="assets/images/kurier_ups.png" alt="kurier_ups">
        <span class="color-accent">UPS courier</span> - paid in advance - PLN 0 (delivery in 24 hours)
      </li>
      <li class="my-[8px]">
        <img src="assets/images/kurier_ups.png" alt="kurier_ups">
        <span class="color-accent">UPS courier</span> - payable on delivery - PLN 15 (delivery within 24 hours)
      </li>
      <li class="my-[8px]">
        <img src="assets/images/paczkomat.png" alt="paczkomant">
        Delivery to the selected InPost parcel locker - paid in advance - PLN 0
      </li>
      <li class="my-[8px]">
        <img src="assets/images/paczkomat.png" alt="paczkomant">
        Delivery to the selected InPost parcel locker - payable on delivery by Card, Blik or PayByLink - PLN 15
      </li>
    </ul>
    <li class="m-[16px]">
      Shipment of the order to other countries
      <ul class="pl-[16px] list-disc">
        <li class="m-[16px]">
          Courier shipment <img src="assets/images/kurier_dpd.png" alt="kurier_dpd"> or
          <img src="assets/images/kurier_ups.png" alt="kurier_ups"> - we send orders to the following countries:
          <ul class="pl-[16px] text-[10px] sm:text-[12px]">
            <li>
              <img src="assets/images/austria.png" alt="austria"> Austria (Austria) - PLN 45
            </li>
            <li>
              <img src="assets/images/belgium.png" alt="belgium"> Belgium (Belgium) - PLN 45
            </li>
            <li>
              <img src="assets/images/bulgaria.png" alt="bulgaria"> Bulgaria (Bulgaria) - PLN 76
            </li>
            <li>
              <img src="assets/images/croatia.png" alt="croatia"> Croatia (Croatia) - PLN 98
            </li>
            <li>
              <img src="assets/images/czech-republic.png" alt="czech-republic"> Czech Republic (Czech Republic) - PLN 19
            </li>
            <li>
              <img src="assets/images/denmark.png" alt="denmark"> Denmark (Denmark) - PLN 48
            </li>
            <li>
              <img src="assets/images/estonia.png" alt="estonia"> Estonia (Estonia) - PLN 48
            </li>
            <li>
              <img src="assets/images/finland.png" alt="finland"> Finland (Finland) - PLN 76
            </li>
            <li>
              <img src="assets/images/france.png" alt="france"> France (France) - PLN 49
            </li>
            <li>
              <img src="assets/images/greece.png" alt="greece"> Greece (Greece) - PLN 97
            </li>
            <li>
              <img src="assets/images/spain.png" alt="spain"> Spain (Spain) - PLN 59
            </li>
            <li>
              <img src="assets/images/netherlands.png" alt="netherlands"> Netherlands (Netherlands) - PLN 39
            </li>
            <li>
              <img src="assets/images/ireland.png" alt="ireland"> Ireland (Ireland) - PLN 69
            </li>
            <li>
              <img src="assets/images/lithuania.png" alt="lithuania"> Lithuania (Lithuania) - PLN 39
            </li>
            <li>
              <img src="assets/images/luxembourg.png" alt="luxembourg"> Luxembourg (Luxembourg) - PLN 39
            </li>
            <li>
              <img src="assets/images/latvia.png" alt="latvia"> Latvia (Latvia) - PLN 39
            </li>
            <li>
              <img src="assets/images/germany.png" alt="germany"> Germany (Germany) - PLN 29
            </li>
            <li>
              <img src="assets/images/portugal.png" alt="portugal"> Portugal (Portugal) - PLN 89
            </li>
            <li>
              <img src="assets/images/romania.png" alt="romania"> Romania (Romania) - PLN 75
            </li>
            <li>
              <img src="assets/images/slovakia.png" alt="slovakia"> Slovakia (Slovakia) - PLN 39
            </li>
            <li>
              <img src="assets/images/slovenia.png" alt="slovenia"> Slovenia (Slovenia) - PLN 75
            </li>
            <li>
              <img src="assets/images/sweden.png" alt="sweden"> Sweden (Sweden) - PLN 75
            </li>
            <li>
              <img src="assets/images/hungary.png" alt="hungary"> Hungary (Hungary) - PLN 48
            </li>
            <li>
              <img src="assets/images/united-kingdom.png" alt="united-kingdom"> United Kingdom (United Kingdom) - 65 PLN
            </li>
            <li>
              <img src="assets/images/italy.png" alt="united-kingdom"> Italy (Italy) - PLN 55
            </li>
          </ul>
        </li>
        <li class="m-[16px]">
          Do you want to order a package to another country? Email us: <a [routerLink]="null" class="color-accent">contact&#64;nutristore.com</a>
        </li>
      </ul>
    </li>
  </ol>
  <div class="flex justify-end">
    <a mat-raised-button color="primary" routerLink="/">Go to home page</a>
  </div>
</div>
