@if (vm.isServer) {
  <div class="server-placeholder shine">
    <loading-spinner/>
  </div>
} @else {
  <form [formGroup]="vm.formGroup" (ngSubmit)="vm.trySubmit()">
    <p>Complete the form to change password.</p>

    <div *sigIf="vm.errorMessage" class="error-message-conteiner mat-elevation-z3">
      <p>{{ vm.errorMessage() }}</p>
    </div>

    <form-input labelText="Old Password"
                name="oldPassword"
                appearance="outline"
                color="accent"
                [type]="vm.oldPasswordType"
                [checkTrigger]="vm.checkTrigger"
                withIcon
                (iconClick)="vm.toogleOldPasswordVisibility()"/>

    <form-input labelText="New Password"
                name="newPassword"
                appearance="outline"
                color="accent"
                [type]="vm.newPasswordType"
                [checkTrigger]="vm.checkTrigger"
                withIcon
                (iconClick)="vm.toogleNewPasswordVisibility()"/>

    <form-input labelText="Confirm Password"
                name="confirmPassword"
                appearance="outline"
                color="accent"
                [type]="vm.newPasswordType"
                [checkTrigger]="vm.checkTrigger"
                withIcon
                (iconClick)="vm.toogleNewPasswordVisibility()"/>

    <div>
      <button *watch mat-raised-button color="primary" type="submit" [disabled]="vm.submitDisabled()"><span class="text-[12px]">Submit</span></button>
      <a mat-raised-button color="warn" [routerLink]="vm.previusUrl"><span class="text-[12px]">Cancel</span></a>
    </div>
  </form>
}
