<div class="w-full mx-auto max-w-[600px]">
  <div class="flex">
    <img src="assets/images/payment_methods.png" style="width: 70px; height: 63px;" alt="payment_methods">
    <div>
      <h3 class="color-accent">
        How do I pay for my order?
      </h3>
      <p class="plain-text">
        All about payment methods.
      </p>
    </div>
  </div>
  <p class="font-bold color-primary">Here's how you can pay for your order:</p>
  <ol class="list-decimal">
    <li class="mx-[16px]">
      <span class="font-semibold color-accent">Payment in advance</span> - the order is processed immediately after receiving the payment. We accept payments:
      <ul class="list-disc">
        <li class="mx-[16px]">
          By bank transfer (both when shipping within the country and abroad) - currencies PLN, EUR, GBP, CZK
        </li>
      </ul>
    </li>
    <li class="mx-[16px]">
      <span class="font-semibold color-accent">Cash on delivery</span> - you will pay for the ordered goods to the DPD courier in cash or by card upon delivery, or by card in a parcel locker.
    </li>
  </ol>
  <div class="flex justify-end mt-[16px]">
    <a mat-raised-button color="primary" class="btn-main" routerLink="/">Go to home page</a>
  </div>
</div>
