<div class="w-full mx-auto max-w-[600px]">
  <h1>Wholesale</h1>
  <p>
    We have prepared a special wholesale offer for companies and people
    interested in placing larger orders.
  </p>
  <p>
    f you want to sell our products in your store, gym, sports club or you are a
    personal trainer and want to offer our products to your clients - contact us!
  </p>
  <p>
    Send us your data together with information whether you have a VAT-EU number
    (European NIP number preceded by a country code), and in response you will receive a
    wholesale price list and detailed information about our cooperation.
  </p>
  <p>
    Contact us today: <a class="color-accent" href="#">contact&#64;nutristore.com</a>
  </p>
  <p>...</p>
  <h1>Wholesale orders</h1>
  <p>
    We have prepared a special wholesale offer to companies and individuals interested
    in larger orders.
  </p>
  <p>
    If you want to sell our products in your store, gym, sports club or you're personal
    trainer and want to offer our products to their customers - contact us!
  </p>
  <p>
    Send us your details for invoice, shipping address and if you have also your EU VAT
    number (European VAT number including the country code), then we send you the wholesale
    price list and details about our cooperation.
  </p>
  <p>
    Contact us today: <a class="color-accent" href="#">contact&#64;nutristore.com</a>
  </p>
  <div class="flex justify-end">
    <a mat-raised-button color="primary" routerLink="/" >Go to home page</a>
  </div>
</div>
