@if(rating === 0) {
  <img src="assets/images/rating_star_empty.png" alt="">
}
@if(rating > 0 && rating <= 0.5) {
  <img src="assets/images/rating_star_half.png" alt="">
}
@if (rating > 0.5) {
  <img src="assets/images/rating_star_full.png" alt="">
}
@if(rating <= 1) {
  <img src="assets/images/rating_star_empty.png" alt="">
}
@if(rating > 1 && rating <= 1.5) {
  <img src="assets/images/rating_star_half.png" alt="">
}
@if (rating > 1.5) {
  <img src="assets/images/rating_star_full.png" alt="">
}
@if(rating <= 2) {
  <img src="assets/images/rating_star_empty.png" alt="">
}
@if(rating > 2 && rating <= 2.5) {
  <img src="assets/images/rating_star_half.png" alt="">
}
@if (rating > 1.5) {
  <img src="assets/images/rating_star_full.png" alt="">
}
@if(rating <= 3) {
  <img src="assets/images/rating_star_empty.png" alt="">
}
@if(rating > 3 && rating <= 3.5) {
  <img src="assets/images/rating_star_half.png" alt="">
}
@if (rating > 3.5) {
  <img src="assets/images/rating_star_full.png" alt="">
}
@if(rating <= 4) {
  <img src="assets/images/rating_star_empty.png" alt="">
}
@if(rating > 4 && rating <= 4.5) {
  <img src="assets/images/rating_star_half.png" alt="">
}
@if (rating > 4.5) {
  <img src="assets/images/rating_star_full.png" alt="">
}
