<section class="mat-elevation-z3">
  <h3>Information</h3>
  <a routerLink="/wholesale">Wholesale</a>
  <a routerLink="/payment-methods">Peyment methods</a>
  <a routerLink="/delivery-cost">Delivery costs</a>
  <a routerLink="/regulations">Regulations</a>
</section>
<section class="mat-elevation-z3">
  <h3>Your account</h3>
  <a [routerLink]="null">Your account</a>
  <a [routerLink]="null">History of orders</a>
  <a [routerLink]="null">Newsletter</a>
</section>
<section class="mat-elevation-z3">
  <h3>Others</h3>
  <a [routerLink]="null">Producers</a>
  <a [routerLink]="null">Sale</a>
  <a [routerLink]="null">Feedback</a>
</section>
<section class="mat-elevation-z3">
  <h3>Shop</h3>
  <a [routerLink]="null">Contact</a>
  <a [routerLink]="null">About Us</a>
  <a [routerLink]="null">Site map</a>
</section>
