@use '../../../../colors.scss' as colors;

:host {
  display: grid;
  justify-items: center;
  gap: 8px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

checkout-cart-item {
  width: 100%;
  max-width: 360px;
}

.cart-total-pirce-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  grid-column: 1/-1;
  background-color: colors.$blue-grey-600;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  padding: 8px;
  margin-top: 8px;
}
