<div class="background-container" [class.sidenav-visible]="vm.sidenavVisible | in:cdRef">
  <img src="assets/new-images/background2.jpg" alt="" class="background-image">
</div>

<div class="app-container">
  <header nutristore [class.sidenav-visible]="vm.sidenavVisible()"></header>
  <main nutristore [class.sidenav-visible]="vm.sidenavVisible()"></main>

  <div class="backdrop" [class.show]="vm.sidenavVisible()" (click)="vm.hideSidenav()"></div>
  <sidenav-menu [class.show]="vm.sidenavVisible()"/>
</div>

<footer nutristore [class.sidenav-visible]="vm.sidenavVisible()"></footer>

